* {margin: 0;padding: 0;box-sizing: border-box;}
html, body {width: 100%; max-width: 100%; overflow: hidden !important;}
@font-face {
    font-family: "Eralash 02";
    src: url("../fonts/eralash02.woff2") format("woff2"),
    url("../fonts/eralash02.woff") format("woff");
}

.wrapper {
    max-height: 100%;
    position: relative;
    min-width: 100%;
    margin: 0 auto;
}

body {
    zoom: 30%;
    max-height: 100%;
    background-color: #fff1fa;

    animation-name: body-backround;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 19.5s;
}

@keyframes body-backround{0% {background-color: #fff1fa} 100% {background-color: #010c74}}

.title {
    position: relative;
    font-size: 120px;
    font-family: 'Eralash 02', cursive;
    letter-spacing: 6px;
    text-align: center;
    color: #f35f5f;
    top: 110px;
    left: 1500px;
    height: 300px;

    animation-name: title-text;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(1,-0.87,0.297,1.87);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 18s;
    
}

@keyframes title-text {
    0%{
        left: 1500px;
    }
    100% {
        left: 0;
    }
}

.balloons-wrapper {
    z-index: 50;
    padding: 0 100px;
    position: absolute;
    top: 3500px;

    animation-name: balloons;
    animation-duration: 6s;
    animation-timing-function: easy-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 17s;

    width: 100%;
    display: flex;
    justify-content: space-between;
}
/*.balloons1 { left: 0;}*/
.balloons2 { right: 0; transform: scaleX(-1) !important }

@keyframes balloons {
    0%{
        top: 3500px;
    }
    100% {
        top: 1000px;
    }
}

.balloons img {
    width: 200px;
}

.tort {
    position: relative;
    bottom: 40px;
    width: 100%;
    padding: 0px 40px 90px 40px;
    display: inline-block;
}

.tort .tort-yarus {
    display: flex;
    justify-content: center;
}

.tort-yarus {
    position: relative;
    animation-duration: 2.3s;
    animation-timing-function: easy-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    bottom: 2700px}

.tort-yarus-1 {animation-name: tort-yarus-1; animation-delay: 2s;}
.tort-yagody-yarus-1 {margin-bottom:-100px; z-index: 4;animation-name: tort-yagody-yarus-1; animation-delay: 11s;}
.tort-yarus-2 {margin-bottom:-130px; z-index: 2;animation-name: tort-yarus-2; animation-delay: 5s;}
.tort-yagody-yarus-2 {margin-bottom:-40px; z-index: 5;animation-name: tort-yagody-yarus-2; animation-delay: 14s;}
.tort-yarus-3 {margin-bottom:-80px; z-index: 3;animation-name: tort-yarus-3; animation-delay: 8s;}
.tort-yagody-yarus-3 {margin-bottom:-50px; z-index: 6;animation-name: tort-yagody-yarus-3; animation-delay: 17s;}

.tort-yarus-1 img{max-width: 632px}
.tort-yagody-yarus-1 img {max-width: 566px;}
.tort-yarus-2 img{max-width: 458px;}
.tort-yagody-yarus-2 img {max-width: 430px;}
.tort-yarus-3 img{max-width: 364px;}
.tort-yagody-yarus-3 img {max-width: 278px;}

.tort-yarus {width: 100%;}

@keyframes tort-yarus-1 {0% {bottom: 2700px}  100% {bottom: 0px}}
@keyframes tort-yarus-2 {0% {bottom: 2700px}  100% {bottom: 0px}}
@keyframes tort-yarus-3 {0% {bottom: 2700px}  100% {bottom: 0px}}

@keyframes tort-yagody-yarus-1 {0% {bottom: 2700px}  100% {bottom: 0px}}
@keyframes tort-yagody-yarus-2 {0% {bottom: 2700px}  100% {bottom: 0px}}
@keyframes tort-yagody-yarus-3 {0% {bottom: 2700px}  100% {bottom: 0px}}

.salut-wrapper {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    width: 100%;

    animation-name: salut;
    animation-duration: 2.3s;
    animation-timing-function: easy-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 20s;
    opacity: 0
}

.salut{width: 100%; padding: 0px 260px;}

.salut img { width: 100%;}

@keyframes salut{ 0%{opacity: 0;} 100%{opacity: 100;}}

.a a{
    display: block;
    margin-top: -20px;
    padding: 70px 80px;
    text-align: center;
    background-color: #f35f5f;
    justify-content: center;
    font-family: 'Eralash 02';
    font-size: 100px;
    color: white;
    text-transform: uppercase;
    text-decoration: none !important;

    position: relative;
    animation-name: a;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(1,-0.87,0.297,1.87);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 26s;
    left: 2500px
}

.a2 a{font-size: 52px; margin-top: 20px}

@keyframes a {0% {left: 2500px} 100%{left: 0;}}